/*
    Styling text-level page elements, like notes, abbreviations, keywords etc.
    2016, Iva E.Popova
*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* abbreviations and their definitions/explanations
   HTML: <abbr>DB</abbr><dfn id="DB"><span>Data</span><span>Base</span></dfn> */
abbr{
    color: #FFF59D;
}
abbr+dfn:before{
    content: " = ";
}
abbr+dfn>span{
    display: inline-block; /* to apply :first-letter */
}
abbr+dfn>span:first-letter{
    color: #FFF59D;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* names */
.name_product{
    color: #C5CAE9;
}
.name_company{
    color: #B2EBF2;
}
.name_person{
    color: #B3E5FC;
}
.name_place{
    color: #BBDEFB;
}
/* exclamation */
.NB{
    color: #FF5722;
    font-weight: bold;
}
.important{
    color: #FFAB91;
    font-weight: bold;
}
.note{
    font-style: italic;
    color: #ef9a9a;
}
.keyconcept{
    color: #C5E1A5;
    font-style: italic;
}
.newterm{
    color: #C5E1A5;
    font-weight: bold;
}
